# THIS IS A TEMPLATE FILE. RENAME IT FROM "credentials.template" to "credentials"
# THIS FILE IS FOLLOWING CSV RULES AND IS SUBJECT TO CHANGES
# REMOVE THESE COMMENTS BEFORE USE
CryptoCompareAPI
your_API_key